$dropDownHeigth: 30px;

.url_creator {

    &__container {
        // border: solid 1px #b9b9b9;
        width: 800px;
        min-height: 200px;
        margin: 100px auto;
    }

    &__dashboard {
        display: flex;
        align-items: center;
        width: 100%;
        height: $dropDownHeigth;
        font-size: 12px;
        justify-content: space-between;
    }

    &__label {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
    }

    &__dropDown {
        height: 100%;
        width: 20%;
        border: solid 1px #b9b9b9;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;

            li {
                border: solid 1px #b9b9b9;
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
            }
        }
    }

    &__urlInput {
        width: 50%;
        height: 100%;
        input {
            width: 100%;
            height: 100%;
            padding: 0;
            box-sizing: border-box;
            padding-left: 10px
        }
    }

    &__addButton {
        width: 50px;
        background: blue;
        color: #fff;
        border: none;
        border-radius: 15px;
        height: 100%;
        cursor: pointer;
    }

    &__selectedUrl {
        display: flex;
        padding-left: 10px;
        align-items: center;
        pointer-events: none;
        height: 100%;
        font-size: 12px;
    }
}